<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp verification</title>
</head>
<body>
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Chat Backend</a>
        </div>
        <p style="font-size:1.1em">Hi,</p>
        <p>Thank you . Use the following OTP to complete your Sign Up procedures. OTP is valid
            for 5 minutes</p>
<form action="" method="post" >
<input type="text" style="border:none" value={{otp}} disabled><br><br>
<input type="hidden" value={{email}}>
<input style="font-size:1em;border:#00466a; color: #00466a;text-decoration:none;font-weight:500">VerifyOtp</input>
</form>
        <p style="font-size:0.9em;">Regards,<br/>chat-backend</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>chat-backend Inc</p>
        </div>
    </div>
    </div>
</body>
</html>

